body {
/*  padding-top: 5rem;*/
padding-top: 0px !important;
}

h1, h2, h3, h4{
  color: #432b4a;
}

.form-inline{
	display: -webkit-flex; 
	display: flex;
	justify-content: flex-end;
	padding-top: 5px;
}
.easy-form{
  margin-right: auto;
  margin-left: auto;
  width: 400px;
}


.search-btn{
	margin-top: 10px;
	float: right;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
 
.div{
  background-color: #34495E;
}

.navbar{
/*  background-color: #947cb0;*/
/*  background-color: #8a71a7;*/
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
  font-family: Lobster;
    font-weight: 400;
/*    font-style: normal;
    font-size: 54px;*/
    letter-spacing: 0em;
    line-height: 1.25em;
    text-transform: none;
}
.img{
	display: block;
	width: 100%;
	height: auto;
}

.text{
	font-family: dejarip;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .035em;
    line-height: 1.7em;
    text-transform: none;
    color: #293047;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.welcome-header{
	text-align: center;
}

