{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block content %}
	<div>
		<h1>{{set.name}}</h1>
		<div>{{set.description}}</div>
		<br>
		<div>{{set.educational_material}}</div>
		<br>
		<div>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
			<button type="button" id="like" class="btn btn-default" aria-label="Left Align">
			  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
			</button>
		 	<span id=likes_count>{{likes}}</span>
		 </div>
		<h2>Test qustions:</h2>
		{% for card in cards %}
			<div>
				<a href="{% url 'card_detail' card.id %}">{{card.question}}</a>
			</div>
			<br>
		{% endfor %}
	</div>
	{% block extra_js %}
	<script>
		$( "#like" ).click(function() {
			var set_id = "{{set.id}}";
			$.ajax({
               	type: "POST",
               	url: "{% url 'like' %}",
               	data: {'set_id': set_id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               	dataType: "json",
               	success: function(response) {
                      	alert(response.message);
                      	$( "#likes_count" ).text(response.likes);
                },
                error: function(rs, e) {
                       	alert(rs.responseText);
                }
          	});
		});
	</script>
	{% endblock extra_js %}
{% endblock %}

