{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="wrapper">
	<h1 class="welcome-header">Добро пожаловать в приложение для эффективного обучения{% if username %}, {{username}}{% endif %}!</h1>
	<h1 class="welcome-header">Последние наборы флеш-карт для запоминания:</h1>
	<ul class="sets clearfix">
	{% for set in sets %}
	<li class="set-wrapper">
	<div class="set">
		<div class="set-text">
			<h2>
				<a class="set-name" href="{% url 'set_detail' set.id %}">{{set.name}}</a>
			</h2>
			<p>{{set.description}}</p>
			<button type="button" id="like" class="btn btn-default" aria-label="Left Align">
				<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
			</button>
		 		<span id=likes_count>{{likes}}</span>
				{{set.likes_count}}
		</div>
	</div>
	</li>
	{% endfor %}
	</ul>
</div>
{% endblock %}