{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block content %}
<div class="wrapper">
	<div class="easy-form-2">
		<h1>{{set.name}}</h1>
		<h4>{{set.description}}</h4>
		<br>
		<div>{{set.educational_material}}</div>
		<br>
		<div>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
			<button type="button" id="like" class="btn btn-default" aria-label="Left Align">
			  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
			</button>
		 	<span id=likes_count>{{likes}}</span>
		 </div>
		<h2>Вопросы теста:</h2>
		{% for card in cards %}
			<div>
				<a href="{% url 'card_detail' card.id %}">{{card.question}}</a>
			</div>
			<br>
		{% endfor %}
		<br>	
    {% buttons %}
      <button id="card_create" type="submit" class="btn btn-primary" onclick="location.href='{% url 'card_add' %}'">
          {% bootstrap_icon "plus" %} Добавить вопрос
      </button>
    {% endbuttons %}
    <br>
    <span>
    {% buttons %}
      <button id="set_update" type="submit" class="btn btn-primary" onclick="location.href='{% url 'set_update' set.id %}'">
        {% bootstrap_icon "pencil" %} Редактировать
      </button>
    {% endbuttons %}
  
    {% buttons %}
      <button id="set_delete" type="submit" class="btn btn-primary">
        {% bootstrap_icon "remove" %} Удалить
      </button>
    {% endbuttons %}
    </span>
</div>
	{% block extra_js %}
	<script>
		$( "#like" ).click(function() {
			var set_id = "{{set.id}}";
			$.ajax({
               	type: "POST",
               	url: "{% url 'like' %}",
               	data: {'set_id': set_id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               	dataType: "json",
               	success: function(response) {
               		$( "#likes_count" ).text(response.likes);
                      	if (response.status == 1) {	
                      		$( "#like" ).css('background-color', '#60a3bc')	
                      	}else{	
                      		$( "#like" ).css('background-color', 'white')	
                      	}
                },
                error: function(rs, e) {
                       	alert(rs.responseText);
                }
          	});
		});
	</script>  
	{% endblock extra_js %}
{% endblock %}

