{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<h1>Новая флеш-карта:</h1>
    <form method="post" method="post" id="card_create">
    <div class="easy-form">
    {% csrf_token %}
    	{% bootstrap_form form %}
    	{% buttons %}
        	<button id="cardsSet_create" type="submit" class="btn btn-primary">Добавить</button>
    	{% endbuttons %}
    </div>
    </form>
<!-- {% block extra_js %}
    <script>
        $( "#card_create" ).on('submit', function(event){
        event.preventDefault();
        submit_form();
        });
        function submit_form() {
          var question = $('textarea[name=question]').val();
          var answer = $('textarea[name=answer]').val();
            $.ajax({
                    type: "POST",
                    url: "{% url 'card_create' %}",
                    data: {'question': question, 
                          'answer': answer, 
                          'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    dataType: "json",
                    success: function(response) {
                    alert(response.message)
                  },
                  error: function(rs, e) {
                            alert(rs.responseText);
                  }
                });
      }
    </script>
{% endblock extra_js %} -->
{% endblock %}

