{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<div class="wrapper">
	<h1>Пользователи приложения:</h1>

    <div id="users">
        {% for user in users %}
            <h2>
                <a href="{% url 'user_detail' user.id %}">{{user}}</a>
                <br>
            </h2>
        {% endfor %}
    </div>
    <br>
</div>
    {% block extra_js %}
    <script type="text/javascript">
            $(window).scroll(function(){
                lock = 0
                page = 2
                    if  ($(window).scrollTop() == $(document).height() - $(window).height()){
                        if (lock == 0) {
                        lock = 1
            
                        base_url = "{% url 'users_list_api' %}"
                        base_url += "?page=" + page;

                        $.ajax({
                            type: "GET",
                            url: base_url,
                            success: function(response) {
                                $("#users").append(response)
                                lock = 0
                                page += 1
                            },
                            error: function(rs, e) {
                                alert('fail');
                                lock = 0
                            }
                        });
                        }
                    }
            }); 
    </script>
    {% endblock extra_js %}
{% endblock %}